<div class="container d-flex justify-content-start">
  <div class="flex-column d-flex border mt-5 ml-5">
    <div class="d-flex flex-column p-3 pt-1">
      <h5 class="text-center mt-2">Edit article</h5>
      <div class="form-group">
        <%= form_with model: @article do |f| %>
          <div class="mt-2">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="mt-2">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control', size: '75x10' %>
          </div>
          <div class="mt-2">
            <%= f.submit class: 'btn, btn-primary'%>
          </div>
        <% end %>
      </div>
        <div>
      </div>
    </div>
  </div>
</div>
